body {
    background-color: khaki
}

.nav-bar {
    display: inline-flex;
    background-color: rgb(35, 35, 35);
    margin-right: 90%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 10%;
    box-shadow: 11px 12px 1px 1px rgba(60, 60, 255, .2);
}

.sidebar-link:hover {
    color: rgb(180, 180, 180);
    transition: .5s;
}

.sidebar-link {
    padding: 15px;
    list-style: none;
    text-decoration: none;
    color: rgb(120, 120, 120);
}

li {
    margin-bottom: 20px;
    margin-top: 20px;
}