body {
    background-color: rgb(240, 235, 216)
}

label {
    margin-bottom: 10px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logincontainer {
    display: flex;
    flex-direction: column;
    background-color: rgb(116, 140, 171);
    padding: 30px;
    justify-content: left;

    margin: 30px auto 0px auto;
    min-width: 350px;
    max-width: 500px;

    border-radius: 15px;
    box-shadow: 5px 5px rgb(62, 92, 118);
}

.allpage {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    justify-content: flex-start;
    padding: 15px;
}