body {
    background-color: rgb(240, 235, 216)
}

.log-nav {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    background-color: rgb(116, 140, 171);
    color: #999;
    padding: 15px;
    border-radius: 11px;
    width: 15%;
    flex-wrap: wrap;
    flex-shrink: 5;
    justify-content: space-around;
    box-shadow: 5px 5px rgb(29, 45, 68);
}

.login-a {
    background-color: rgb(62, 92, 118);
    text-decoration: none;
    color: rgb(255, 218, 185);
    padding-inline: 20px;
}

.current_user {
    display:
}

.cur_login {
    font-size: 25px;
    color: rgb(255, 218, 185);
    margin-bottom: 0px;
}

.cur_email {
    font-size: 15px;
    color: rgb(255, 236, 219);
}

.logn {
    transition: .5s;
    border-radius: 3px;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}

.logn:hover {
    color: #CCC;
    transition: .5s;
    cursor: context-menu;
    box-shadow: 5px 5px rgb(29, 45, 68);
}

.bg-blue-500 {
    background-color: wheat;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
}

.create {
    background-color: rgb(116, 140, 171);
    width: 60px;
    height: 60px;
    text-align: center;
    justify-content: center;
    padding-top: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 5px 5px rgb(29, 45, 68);
    margin-left: -10px;
}

.zind {
    z-index: 4;
    position: absolute;
}

.create_button {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: rgb(29, 45, 68);
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
}